.region {
  fill: #ed9121;
  stroke: #ccc;
  stroke-linejoin: round;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-width: 1;
  transition: fill 300ms;
}
.region:hover {
  fill: #ed9121;
}

.label-text {
  font-weight: 600;
}
